<!DOCTYPE html>
<html>
    <head>
        <title>Пятнашки-solver</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            Solver находит кратчайший путь для предоставлненного положения игры "Пятнашки".
        </header>
        
        <nav>
            <ul>
                <li><a href="index.html"></a>Solver</li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </body>
</html>