<!DOCTYPE html>
<html>
    <head>
        <title>Пятнашки-solver</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <h3>Solver находит кратчайший путь для предоставлненного положения игры "Пятнашки".</h1>
        </header>
        
        <nav>
            <ul>
                <li><a href="index.html">Solver</a></li>
                <li><a href="searchmethod.html">A* search</a></li>
                <li><a href="ho">How it works</a></li>
                <li><a href="gamerules.html">Slider puzzle</a></li>
            </ul>
        </nav>

        <main>
            <h1>Введите свое состояние игры:</h1>
            <table >
                <tr><td>11</td><td>12</td><td>13</td><td>14</td></tr>
                <tr><td>21</td><td>22</td><td>23</td><td>24</td></tr>
                <tr><td>31</td><td>32</td><td>33</td><td>34</td></tr>
                <tr><td>41</td><td>42</td><td>43</td><td>44</td></tr>
            </table>
        </main>
    </body>
</html>